@import "../../mixins.scss";

.logement__informations {
    @include media-desktop {
        display: flex;
        justify-content: space-between;
    }
}
.logement {
    &__block1 {
        font-size: 18px;
    }
    &__block2 {
        @include media-mobile {
            display: flex;
            flex-direction: row;
            gap: 30px;
            padding-top: 15px;
        }
    }
    &__tags {
        display: flex;
        flex-direction: row;
        @include media-mobile {
            flex-wrap: wrap;
        }
    }
    &__title {
        font-size: 36px;
        @include media-mobile {
            word-break: break-all;
            font-size: 27px;
        }
    }
    &__owner {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include media-mobile {
            order: 1;
        }
        > img {
            border-radius: 100px;
            height: 64px;
        }
    }
    &__rate {
        font-size: 25px;
        @include media-mobile {
            font-size: 20px;
        }
        > i {
            padding: 5px;
        }
    }
    &__gap {
        gap: 10px;
    }
    &__top-margin {
        margin-top: 20px;
    }
}

.logement {
    &__accordion-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        margin-top: 25px;
        @include media-mobile {
            flex-direction: column;
        }
    }
    &__accordion {
        flex: 1;
    }
}
